{{#each error in errors}}
    {{#each code in error.code}}
      {{view "App.Alert" type="error" code=code key=error.key}}
    {{/each}}
{{/each}}
{{#if success}}
  {{view "App.Alert" type="success" code="success" key="walk"}}
{{/if}}
<form class="form-horizontal" {{action "submitForm" on="submit"}} role="form">
  <div class="form-group">
    <label for="inputName" class="col-sm-2 col-sm-offset-1 control-label">Twoje imię</label>
    <div class="col-sm-6">
      {{input value=name placeholder="Imię" id="inputName" class="form-control" type="text"}}
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 col-sm-offset-1 control-label">Twój email</label>
    <div class="col-sm-6">
      {{input value=email placeholder="Email" id="inputEmail" class="form-control" type="email"}}
    </div>
  </div>
  <div class="form-group">
    <label for="inputDates" class="col-sm-2 col-sm-offset-1 control-label">Wybierz terminy kiedy jesteś zainteresowany wycieczką</label>
    <div class="col-sm-6">
      {{view "date-picker" dateBinding="dates" id="inputDates"}}
    </div>
  </div>
  <div class="form-group">
    <label for="inputDates" class="col-sm-2 col-sm-offset-1 control-label">Wybierz godziny</label>
    <div class="col-sm-6">
      <div class="row">
      <div class="col-sm-4">
        {{input type="time" value=hourFrom id="inputHourFrom" placeholder="HH:MM" class="form-control"}}
      </div>
      <div class="col-sm-4">
       {{input type="time" value=hourTo id="inputHourTo" placeholder="HH:MM" class="form-control"}}
     </div>
    </div>
  </div>
  </div>
  <div class="form-group">
    <label for="inputLangs" class="col-sm-2 col-sm-offset-1 control-label">Wybierz języki w jakich byśmy mogli się dogadać<br> <small>Przytrzymaj CTRL aby zaznaczyć więcej niż jeden</small></label>
    <div class="col-sm-6">
        {{view Ember.Select id="inputLangs" multiple="true" contentBinding="langsAvalaible" optionLabelPath="content.pol" optionValuePath="content.value" selectionBinding="languages" class="form-control"}}
    </div>
  </div>
  <div class="form-group">
    <label for="inputOther" class="col-sm-2 col-sm-offset-1 control-label">Jakieś dodatkowe uwagi?</label>
    <div class="col-sm-6">
      {{view Ember.TextArea class="form-control" valueBinding="other"}}
  </div>
</div>
  <button type="submit" class="col-sm-offset-3 btn btn-primary" {{bind-attr disabled="isProcessing"}}>Wyślij</button>
</form>
