{{#each error in errors}}
    {{#each code in error.code}}
      {{view "App.Alert" type="error" code=code key=error.key}}
    {{/each}}
{{/each}}
{{#if success}}
  {{view "App.Alert" type="success" code="success" key="walk"}}
{{/if}}
<form {{action "submitForm" on="submit"}} role="form">
  <div>
    <label for="inputName">Twoje imię</label>
    <div>
      {{input value=name placeholder="Imię" id="inputName" type="text"}}
    </div>
  </div>
  <div>
    <label for="inputEmail">Twój email</label>
    <div>
      {{input value=email placeholder="Email" id="inputEmail"type="email"}}
    </div>
  </div>
  <div>
    <label for="inputDates">Kiedy jesteś zainteresowany spacerem?</label>
    <div>
      {{view "date-picker" dateBinding="dates" id="inputDates"}}
    </div>
  </div>
  <div>
    <label for="inputDates">Wybierz godziny</label>
    <div>
      <div class="hours">
      <div>
        <span class="input-group-addon">Od</span>
        {{input type="time" value=hourFrom id="inputHourFrom" placeholder="HH:MM"}}
      </div>
      <div>
        <span class="input-group-addon">Do</span>
       {{input type="time" value=hourTo id="inputHourTo" placeholder="HH:MM"}}
     </div>
    </div>
  </div>
  </div>
  <div>
    <label for="inputLangs">Wybierz języki w jakich będziemy mogli się porozumieć<br> <small>Przytrzymaj CTRL aby zaznaczyć więcej niż jeden</small></label>
    <div>
        {{view Ember.Select id="inputLangs" multiple="true" contentBinding="langsAvalaible" optionLabelPath="content.pol" optionValuePath="content.value" selectionBinding="languages" class="form-control"}}
    </div>
  </div>
  <div>
    <label for="inputOther">Jakieś dodatkowe uwagi?</label>
    <div>
      {{view Ember.TextArea valueBinding="other"}}
  </div>
</div>
  <button type="submit" {{bind-attr disabled="isProcessing"}}>Wyślij</button>
</form>
